.avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.avatar-uploader .el-upload:hover {
  border-color: #409eff;
}

.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
.el-form-item__content {
  text-align: left;
}
.van-dialog {
  &.dialog {
    width: 250px;
    .van-dialog__content {
      .el-autocomplete {
        width: 250px;
        .el-input {
          .el-input__suffix {
            line-height: 40px;
          }
        }
      }
    }
  }
}
