.home-container {
  height: 100%;
  width: 100%;
  &-body {
    padding: 25px;
    &-top {
      &-carousel {
        height: 400px;
        // border: 1px solid #eaeaea;
      }
      &-boxContainer {
        margin-top: 10px;
        display: flex;

        &-box {
          margin-left: 10px;
          height: 150px;
          flex: 1;
          border: 1px solid #eaeaea;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    &-bottom {
      display: flex;
      margin-top: 30px;
      &-left {
        flex: 4;
        &-header {
          height: 50px;
          border: 1px solid #eaeaea;
          display: flex;
          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #eaeaea;
            cursor: pointer;
            &:hover {
              color: rgb(239, 156, 190);
            }
            &.active {
              background: rgb(239, 156, 190);
              color: white;
              transition: background-color 0.3s;
            }
            &:last-child {
              border-right: none;
            }
          }
        }
        &-body {
          display: flex;
          flex-wrap: wrap;
          &-card {
            margin-top: 10px;
            height: 300px;
            width: 25%;
            padding-left: 5px;
            padding-right: 5px;
            box-sizing: border-box;
            .box {
              border: 1px solid #eaeaea;
              height: 100%;
              display: flex;
              flex-direction: column;
              user-select: none;
              &-pic {
                flex: 1;
              }
              &-bottom {
                height: 35px;
                border-top: 1px solid #eaeaea;
                line-height: 35px;
                &-left {
                  float: left;
                  margin-left: 15px;
                  font-size: 14px;
                }
                &-right {
                  float: right;
                  margin-right: 15px;
                  i {
                    color: black;
                  }
                  .num {
                    font-size: 14px;
                    margin-left: 5px;
                  }
                }
              }
            }
            &:first-child {
              padding-left: 0px;
              padding-right: 10px;
            }
            &:nth-child(4n) {
              padding-left: 10px;
              padding-right: 0px;
            }
            &:nth-of-type(5n) {
              padding-left: 0px;
              padding-right: 10px;
            }
          }
        }
      }
      &-right {
        flex: 1;
        margin-left: 10px;
        border: 1px solid #eaeaea;
      }
    }
  }
}
