.home-container {
  height: 100%;
  width: 100%;
  &-header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
  &-body {
    padding: 25px;
    &-top {
      &-carousel {
        height: 500px;
        border: 1px solid #eaeaea;
      }
      &-boxContainer {
        margin-top: 10px;
        display: flex;
        &-box {
          margin-left: 10px;
          height: 150px;
          flex: 1;
          border: 1px solid #eaeaea;
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }
    &-bottom {
      display: flex;
      margin-top: 20px;
      &-left {
        flex: 4;
        &-header {
          height: 50px;
          border: 1px solid #eaeaea;
          display: flex;
          &-item {
            display: flex;
            justify-content: center;
            align-items: center;
            border-right: 1px solid #eaeaea;
            &:last-child {
              border-right: none;
            }
          }
        }
        &-body {
          display: flex;
          &-card {
            margin-top: 10px;
            margin-left: 10px;
            height: 300px;
            flex: 1;
            border: 1px solid #eaeaea;
            &:first-child {
              margin-left: 0;
            }
          }
        }
      }
      &-right {
        flex: 1;
        margin-left: 10px;
        border: 1px solid #eaeaea;
      }
    }
  }
}
