.info-container {
  height: 100%;
  width: 100%;
  &-header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
  &-body {
    margin-top: 30px;
    padding: 0 110px;
    &-top {
      height: 300px;
      display: flex;
      border: 1px solid #eaeaea;
      &-left {
        flex: 2;
        border-right: 1px solid #eaeaea;
      }
      &-right {
        flex: 1;
      }
    }
    &-middle {
      &-box {
        float: left;
        height: 300px;
        border: 1px solid #eaeaea;
        margin-left: 30px;
        width: 200px;
        margin-top: 20px;
      }
    }
  }
}
