.info-container {
  height: 100%;
  width: 100%;
  &-header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #eaeaea;
  }
  &-body {
    margin-top: 30px;
    padding: 0 110px;
    &-top {
      height: 300px;
      display: flex;
      border: 1px solid #eaeaea;
      &-left {
        flex: 2;
        border-right: 1px solid #eaeaea;
      }
      &-right {
        flex: 1;
      }
    }
    &-middle {
      height: auto;
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 30px;
      &-box {
        height: 300px;
        width: 33.33%;
        margin-top: 20px;
        box-sizing: border-box;
        padding-left: 5px;
        padding-right: 5px;
        &-container {
          border: 1px solid #eaeaea;
          height: 100%;
        }
        &:first-child {
          padding-left: 0px;
          padding-right: 10px;
        }
        &:nth-child(3n) {
          padding-left: 10px;
          padding-right: 0px;
        }
        &:nth-of-type(4n) {
          padding-left: 0px;
          padding-right: 10px;
        }
      }
    }
  }
}
